<header id="header">
  <a href="#" id="logo"></a>
  <a href="#" class="avatar"></a>
  <a href="#" class="config"></a>
  <a href="#" class="mail"></a> 
  <span class="my_messages_qty">5</span>   
  
  <form id="search" ng-submit="submitSearch(searchTerm)">
    <input class="text" type="text" placeholder="{{t('Search')}}" name="search" ng-model="searchTerm" />
    <input class="submit" type="submit" value="" />
  </form> 
</header>

<aside id="first_sidebar">
  <div id="header_tabs">
    <a ng-click="toggleCoursesList()" href="" class="h_tabs" ng-bind-html-unsafe="courseName"></a>
    <menu id="available_courses">
      <li ng-repeat="(key, data) in coursesNames">
        <a href="#/courses/{{studentID}}?course={{data.id}}">{{data.title}}</a>
      </li>
    </menu>
  </div>
  
  <menu id="subjects_menu">
    <li ng-repeat="subject in subjectMenu" class="qty_{{subject.qty}} {{subject.cssClass}}" ng-click="menuClick(subject.name)">
      <span>{{subject.name}}</span>
    </li>
  </menu>
  
  <section id="messages_list">
    <header>{{t('Messages')}}</header>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
</aside>
<div id="content">
  <div id="nav_bar">
    <div id="nav_tabs">
      <span class="tab add">&nbsp;</span>
      <span class="tab all {{allTabClass}}" rel="courses_all" ng-click="tabClicked('all')">{{t('All')}}</span>
      <span class="tab mine {{mineTabClass}}" rel="courses_mine" ng-click="tabClicked('mine')">{{t('Mine')}}</span> 
      <span class="sika"></span>      
    </div>
  </div>
  <div id="courses_container">
    <div class="courses_section" id="courses_mine">
      <div ng-repeat="course in coursesMine | filter:searchTerm" class="course">
        <a class-"course_box_link" href="#knowii/{{course.Id}}"></a>
        <div class="image_box">
          <a href="#knowii/{{course.Id}}">
            <img class="course_image" ng-src="{{course.ImageUrl}}" alt="{{course.SubjectName}}" title="{{course.SubjectName}}" rel="{{course.index}}" />
          </a>
        </div>
        <div class="course_content">
          <div class="course_header">
            <div class="relate {{course.relatedClass}}"></div> 
            <div class="type {{course.docTypeClass}}"></div> 
            <span class="date">{{course.date}}</span> | 
            <span class="author">{{course.First_Name}} {{course.Last_Name}}</span>
            <span class="vote_stars {{course.voteStars}}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <a href="preview.html?i={{course.index}}" class="course_text">
            {{course.Description}}
          </a>
          <div class="course_footer">
            <a class="footer_share share1 {{course.share1Disabled}}" href="#" title="{{t('Pin')}}"></a>
            <a class="footer_share share2 {{course.share2Disabled}}" href="#" title="{{t('Share')}}"></a>
            <a class="footer_share share3 {{course.share3Disabled}}" href="#" title="{{t('Archive')}}"></a>
            <a href="#" class="course_messages">
              <span class="course_messages_qty">{{course.messagesQty}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>